$TmaváŠedá:rgba(33, 33, 33, 1);
$TmavšíŠedá:rgba(23, 23, 23, 1);
$SvětláŠedá:rgba(139, 139, 139, 1);
$ŠedáIkony:rgba(56, 56, 56, 1);
$Zelená:rgba(0, 125, 92, 1);
$Bílá:rgba(251, 251, 251, 1);


/* Animations */

@keyframes Slide-left {

    0% {
        transform: translate(-200px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes Slide-right {

    0% {
        
        transform: translate(-200px);
        filter: blur(7px);
    }

    

    100% {
        transform: translate(0px);
        filter: blur(0px);
    }
}

@keyframes Slide-bottom {

    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes Signal {
    
    0% {
        opacity:1;
    }

    50% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}

/* Animations END */



/* Font-face */

@font-face {
    font-family:'NotoSans-reg';
    src:url(../Fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family:'NotoSans-semiBold';
    src:url(../Fonts/NotoSans-SemiBold.ttf);
}

@font-face {
    font-family:'NotoSans-Bold';
    src:url(../Fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family:'NotoSans-light';
    src:url(../Fonts/NotoSans-Light.ttf);
}

/* Font-face END */



/* ALL ELEMENTS */

html, body {
    font-family: 'Notosans-reg', sans-serif;
    background-color: $TmaváŠedá;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html:focus-within {
    scroll-behavior: smooth;
}

@media(prefers-reduced-motion) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width:0.8em;
    height: 1em;
}

::-webkit-scrollbar-track {
    background: #212121;
    border-radius: 100vw;
    margin-block:5px;
}

::-webkit-scrollbar-thumb {
    background: $Bílá;
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    border-radius: 100vw;
    border:3px solid #212121;
}

::-webkit-scrollbar-thumb:hover {
    background:$SvětláŠedá;
}

::-webkit-input-placeholder {
    color:$SvětláŠedá;
    font-family: 'NotoSans-light', sans-serif;
    font-size:1.2rem;
    font-weight: 100;
}

@media screen and (max-width:1100px) {
    ::-webkit-input-placeholder {
        font-size:1.1rem;
    }
}

@media screen and (max-width:850px) {
    ::-webkit-input-placeholder {
        font-size:1rem;
    }
}

@media screen and (max-width:550px) {
    ::-webkit-input-placeholder {
        font-size:0.9rem;
    }
}

/* ALL ELEMENTS END */


/* Top */

.Top {
    position:relative;
    z-index: 3000;
    
    .Navbar {
        top:0px;
        left:0px;
        width:100%;
        height:60px;
        background:transparent;
        position: absolute;
        display:grid;
        
        .content-navbar {
            max-width:1600px;
            margin:auto;
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
        

            a{
                text-decoration: none;
                color: $Bílá;
                position: relative;
            }

            li {
                color:$Bílá;
                font-size: 1.1rem;
                list-style-type: none;
                padding:auto 20px;
            }

            .parent {
                position: relative;
            }

            .close {
                position:absolute;
                top:0px;
                right:-98px;
                color:$Bílá;
            }

            .AC {
                position: relative;
                cursor: pointer;
                background:linear-gradient(to right, $Zelená, rgb(0, 71, 52));
                width:150px;
                height:38px;
                border-radius: 20px;
                display:flex;
                margin-top:-5px;
                transition: 0.3s;

                p {
                    margin:auto;
                    font-size: 1rem;
                }
            }

            .Tabulka {
                position: absolute;
                width:0px;
                height:0px;
                background-color: hsla(0, 0%, 9%, 0.7);
                backdrop-filter: blur(0.5em);
                border-radius: 10px;
                top:38px;
                right:0px;
                transition: 0.3s;
                
                li {
                    text-align: left;
                    opacity:0;
                    transition: 0.1s;
                    font-size: 0rem;
                    padding:10px;
                    font-family:'NotoSans-light';
                    color:$Bílá;

                    span {
                        color:rgb(0, 141, 103);
                        font-family:'NotoSans-semiBold';
                        font-weight: 100;
                    }
                }

                ol {
                    padding:10px
                }
            }

            .Tabulka.changed {
                width:600px;
                height:450px;

                li {
                    opacity:1;
                    transition: 0.3s;
                    font-size: 1.2rem;
                }
            }


            .AC.changed {
                color:transparent;
                background: transparent;
                border:2px solid $Zelená;
                transition: 0.1s;
            }

            .AC:hover {
                box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.171);
            }

            .Left{
                width:100%;
                display:grid;
                grid-template-columns: 1fr 1fr 1fr;
                margin:auto;
                margin-top:20px;
                text-align: center;
            }

            .Logo {
                margin:auto;
                margin-top:-70px;
                grid-column: 2/3;
                transform: scale(0.3);
            }

            .Right {
                width:100%;
                display:grid;
                grid-template-columns: 1fr 1fr 1fr;
                margin:auto;
                margin-top:20px;
                text-align: center;
            }

            .burgermenu {
                width:40px;
                height:30px;
                margin:auto;
                display: none;
                position: absolute;
                cursor: pointer;
                top:25px;
                left:25px;
                z-index: 6000;
            }

            .burgermenu-bar {
                width:100%;
                height:6px;
                background-color: $Bílá;
                position: absolute;
                transition: 0.3s;
            }

            .burgermenu::before,
            .burgermenu::after {
                    content: "";
                    position: absolute;
                    width:100%;
                    height:6px;
                    background-color: $Bílá;
                    bottom:0px;
                    left:0px;
                    transition: 0.3s;
            }

            .burgermenu::before {
                bottom:12px;
            }

            .burgermenu.is-active {
                position: fixed;
            }

            .burgermenu.is-active .burgermenu-bar  {
                transform: rotate(45deg) translate(8px, 8px)
            }

            .burgermenu.is-active::before  {
                transform: scaleX(0%);
                transform-origin: center;
            }

            .burgermenu.is-active::after  {
                transform: rotate(-45deg) translate(8px, -9px)
            }


            @media screen and (max-width:1100px) {

                .Left {
                    display:none;
                }
            
                .Right {
                    display:none;
                }

                .burgermenu {
                    display:flex;
                    
                }

                .Logo {
                    margin-top:-75px;
                    grid-column: 2/3;
                    transform: scale(0.25);
                }
            }

            @media screen and (max-width:435px) {

                .burgermenu {
                    width:35px;
                    height:30px;
                    top:20px;
                    left:20px;
                }

                .burgermenu-bar {
                    width:100%;
                    height:6px;
                }

                .burgermenu-bar::before,
                .burgermenu-bar::after {
                    width:100%;
                    height:5px;
                    bottom:-12px;
                }

                .burgermenu-bar::after {
                    bottom:-24px;
                }

                .Logo {
                    margin-top: -97px !important;
                    grid-column: 2/3;
                    transform: scale(0.18);
                }
            }

            @media screen and (max-height:435px) {
                
                .burgermenu {
                    width:35px;
                    height:30px;
                    top:20px;
                    left:20px;
                }

                .burgermenu-bar {
                    width:100%;
                    height:6px;
                }

                .burgermenu-bar::before,
                .burgermenu-bar::after {
                    width:100%;
                    height:5px;
                    bottom:-12px;
                }

                .burgermenu-bar::after {
                    bottom:-24px;
                }

                .Logo {
                    margin-top: -97px !important;
                    grid-column: 2/3;
                    transform: scale(0.18);
                }
            }

        }

    }

    .home::after,
    .about::after,
    .galerie::after,
    .prices::after,
    .contact::after {
        content:"";
        width:100%;
        height:2px;
        background-color: $Bílá;
        position: absolute;
        bottom:-5px;
        left:0px;
        transition: 0.3s;
        transform-origin: center;
        transform: scaleX(0);
    }

    .Navbar:has(.home:hover) .home::after,
    .Navbar:has(.about:hover) .about::after,
    .Navbar:has(.galerie:hover) .galerie::after,
    .Navbar:has(.prices:hover) .prices::after,
    .Navbar:has(.contact:hover) .contact::after {
        transform: scaleX(1);
        
    }

    .Resp-navbar {
        display:none;
        position: fixed;
        width:60%;
        min-height:100vh;
        background: hsla(0, 0%, 9%, 0.7);
        backdrop-filter: blur(0.5em);
        z-index: 5000;
        transition: 0.3s;
        transform: translateX(-100%);

        ul {
            margin:15vh auto auto 5vw;
        }

        li {
            list-style:none;
            margin:1em;
            font-size: 1.7rem;
            border-bottom: 2px solid $ŠedáIkony;
            width:40vw;
        }

        a {
            text-decoration: none;
            color:$Bílá;
            
        }

    }

    .Resp-navbar.hidden {
        transform: translateX(0%);
    }

    @media screen and (max-width:1100px) {

        .Navbar {
            height:95px;
            background:linear-gradient($TmaváŠedá, transparent);

            .content-navbar {
                grid-template-rows: 60px;

                .Logo {
                    margin-top:-90px;
                }
            }
        }

        .Resp-navbar {
            display:flex;
        }

        @media screen and (max-height:500px) {

            .Resp-navbar {
        
                ul {
                    margin:20vh auto auto 5vw;
                }
        
                li {
                    list-style:none;
                    margin:0.7em;
                    font-size: 1.3rem;
                }
        
                a {
                    text-decoration: none;
                    color:$Bílá;
                }
        
            }
        }

        @media screen and (max-height:350px) {

            .Resp-navbar {
        
                ul {
                    margin:20vh auto auto 5vw;
                }
        
                li {
                    list-style:none;
                    margin:0.7em;
                    font-size: 1.1rem;
                }
            }
        }
    }
    
    @media screen and (max-width:850px) {

        .Resp-navbar {
        
            ul {
                margin:20vh auto auto 5vw;
            }
    
            li {
                list-style:none;
                margin:0.8em;
                font-size: 1.5rem;
            }
        }

        @media screen and (max-height:500px) {

            .Resp-navbar {
        
                ul {
                    margin:20vh auto auto 5vw;
                }
        
                li {
                    list-style:none;
                    margin:0.7em;
                    font-size: 1.3rem;
                }
        
                a {
                    text-decoration: none;
                    color:$Bílá;
                }
        
            }
        }

        @media screen and (max-height:350px) {

            .Resp-navbar {
        
                ul {
                    margin:20vh auto auto 5vw;
                }
        
                li {
                    list-style:none;
                    margin:0.7em;
                    font-size: 1.1rem;
                }
            }
        }
    }

    @media screen and (max-width:550px) {

        .Resp-navbar {
        
            ul {
                margin:20vh auto auto 5vw;
            }
    
            li {
                list-style:none;
                margin:0.8em;
                font-size: 1.3rem;
            }
        }

        @media screen and (max-height:500px) {

            .Resp-navbar {
        
                ul {
                    margin:20vh auto auto 5vw;
                }
        
                li {
                    list-style:none;
                    margin:0.7em;
                    font-size: 1.3rem;
                }
            }
        }

        @media screen and (max-height:350px) {

            .Resp-navbar {
        
                ul {
                    margin:20vh auto auto 5vw;
                }
        
                li {
                    list-style:none;
                    margin:0.7em;
                    font-size: 1.1rem;
                }
            }
        }
    }

    @media screen and (max-height:435px) {
        
        .Navbar {
            height:75px;
            background:linear-gradient($TmaváŠedá, transparent)
        }
    }

    @media screen and (max-width:435px) {

        .Navbar {
            height:75px;
            background:linear-gradient($TmaváŠedá, transparent)
        }

        .Resp-navbar {
        
            ul {
                margin:20vh auto auto 5vw;
            }
    
            li {
                list-style:none;
                margin:0.8em;
                font-size: 1.2rem;
            }
        }

        @media screen and (max-height:500px) {

            .Resp-navbar {
        
                ul {
                    margin:20vh auto auto 5vw;
                }
        
                li {
                    list-style:none;
                    margin:0.7em;
                    font-size: 1.1rem;
                }
            }
        }

        @media screen and (max-height:350px) {

            .Resp-navbar {
        
                ul {
                    margin:20vh auto auto 5vw;
                }
        
                li {
                    list-style:none;
                    margin:0.7em;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width:1100px) {

    .Top {
        position: fixed;
        width:100%;
    }
}


/* Top END */



/* Arrow */


.arrow {
    position: fixed;
    z-index: 2100;
    bottom:50px;
    right:50px;
    width:40px;
    height:40px;
    border-radius: 10px;
}

.arrow:hover {
    background-color: $ŠedáIkony;
}

@media screen and (max-width:1100px) {
    .arrow {
        display:none;
    }
}


/* Arrow END */



/* Hero */


.Hero {
    width:auto;
    height:100vh;
    background: $ŠedáIkony;
    position: relative;
    z-index: 2500;

    .content-hero {
        inset:0;
        margin:auto;
        height:100vh;
        max-width:1500px;
        padding:0px 50px 0 50px;
        display:flex;
        position: relative;

        .Poster {
            margin:auto;
            height:100%;
            width:100%;
            position: relative;
            background-image:url(../Pics/Ceník\ -\ Main.png);
            background-position: center;
            background-size:auto;
            background-repeat: no-repeat;
            animation-name: Slide-bottom;
            animation-duration: 0.6s;
            z-index: 600;
            

            .head {
                position: absolute;
                top:30%;
                right:10%;
                

                h1 {
                    color:$Bílá;
                    mix-blend-mode: difference;
                    font-family:'NotoSans-semiBold';
                    font-weight: 100;
                    font-size: 6rem;
                    animation: Slide-right;
                    animation-duration: 0.5s;
                    animation-timing-function: ease-out;
                }
            }
        }
    }
}


@media screen and (max-height:767px) {
    .Hero {
        height:767px;

        .content-hero {
            height:767px;
        }
    }
}

@media screen and (min-height:1000px) {
    .Hero {
        height:1000px;

        .content-hero {
            height:1000px;
        }
    }
}

@media screen and (max-width:1100px) {

    .Hero {
        height:90vh;

        .content-hero {
            height:90vh;
        }
    }

    @media screen and (max-height:670px) {
        .Hero {
            height:600px;
    
            .content-hero {
                height:600px;
            }
        }
    }

    @media screen and (min-height:800px) {
        .Hero {
            height:730px;
    
            .content-hero {
                height:730px;
            }
        }
    }
}


@media screen and (max-width:1100px) {
    .Hero {

        .content-hero {
            padding:60px 20px 0 20px;

            .Poster {
                z-index: 600;

                .head {
                    position: absolute;
                    top:15%;
                    right:5%;

                    h1 {
                        font-size: 6rem;
                    }
                }

                
            }
        }
    }
}

@media screen and (max-width:850px) {
    .Hero {

        .content-hero {
            padding-top:60px;

            .Poster {
                z-index: 600;

                .head {
                    position: absolute;
                    top:20%;
                    right:5%;

                    h1 {
                        font-size: 5rem;
                    }
                }

                
            }
        }
    }
}

@media screen and (max-width:550px) {
    .Hero {

        .content-hero {
            padding:60px 30px 0 30px;

            .Poster {
                
                z-index: 600;

                .head {
                    position: absolute;
                    top:25%;
                    right:5%;

                    h1 {
                        font-size: 4rem;
                    }
                }

                
            }
        }
    }
}

@media screen and (max-width:435px) {
    .Hero {

        .content-hero {
            padding:60px 0px 0 0px;

            .Poster {
                background-position: -34rem center;
                z-index: 600;

                .head {
                    position: absolute;
                    bottom:25%;
                    left:10%;

                    h1 {
                        max-width: 50px;
                        font-size: 5rem;
                        line-height: 80px;
                    }
                }

                
            }
        }
    }
}


/* Hero END */



/* Questions */


.questions {
    height:auto;
    width: auto;
    background-color: $TmaváŠedá;
    display:flex;
    position: relative;
    z-index: 2000;
    margin-bottom: -200px;

    .content-questions {
        margin: auto;
        max-width:1400px;
        height:1000px;
        
        display:grid;
        grid-template-columns: 1fr 1fr;
        position: relative;

        p, h2, h3, li {
            color:$Bílá;
            font-weight: 100;
        }

        h2, h3 {
            font-family:'NotoSans-semiBold', sans-serif;
        }

        p {
            font-family:'NotoSans-light', sans-serif;
            font-size: 1.2rem;
            line-height:30px;
            margin: 40px 20px;
            max-width: 500px;
        }

        h2, h3 {
            border-bottom:3px solid $Zelená;
        }

        .Left {
            margin:auto;
            padding: 50px;
            margin-top: 120px;

            h2 {
                margin: auto;
                margin-bottom: 60px;
                text-align: center;
                max-width:220px;
            }

            .box {
                margin-top: 50px;
                padding: 20px 40px;
                max-width:420px;
                border: 2px solid $ŠedáIkony;

                h3 {
                    max-width: 250px;
                    border: 0px;
                }

                ul {
                    margin-top: 40px;
                }

                li {
                    font-family:'NotoSans-light', sans-serif;
                    font-size: 1.2rem;
                    margin: 25px 20px;
                }
            }
        }

        .Right {
            margin:auto;
            padding: 50px;
            margin-top: 120px;

            h2 {
                margin:auto;
                margin-bottom: 25px;
                text-align: center;
                max-width: 300px;;
            }

            h3 {
                text-align: center;
                margin: auto 20px auto auto;
                max-width: 70px;
                margin-bottom:-30px;
            }

            p {
                text-align: right;
            }

            .pay {
                margin-top: 100px;
            }
        }
    }

    .content-questions::after {
        content:"";
        width: 2px;
        height: 90%;
        background-color: $ŠedáIkony;
        position: absolute;
        inset:0;
        margin:auto;
    }
}

@media screen and (max-width:1100px) {

    .questions {

        .content-questions {

            height:950px;

            p {
                font-size: 1rem;
                margin: 30px 20px;
            }

            h2 {
                font-size: 1.3rem;
            }

            h3 {
                font-size: 1.1rem;
            }

            .Left {

                h2 {
                    max-width:200px;
                }

                .box {
                    padding-bottom:10px;

                    li {
                        font-size: 1rem;
                        margin: 25px 20px;
                    }
                }
            }

            .Right {

                h2 {
                    max-width:260px;
                }

                h3 {
                    margin-bottom: -20px;;
                }

                .pay {
                    margin-top: 80px;
                }
            }
        }
    }
}

@media screen and (max-width:850px) {

    .questions {

        .content-questions {
            
            height:900px;

            p {
                font-size: 0.9rem;
                margin: 25px 20px;
            }

            h2 {
                font-size: 1.2rem;
            }

            h3 {
                font-size: 1rem;
            }

            .Left {
                padding: 30px;
                margin-top: 80px;

                h2 {
                    max-width:175px;
                }

                .box {
                    padding-bottom:10px;

                    ul {
                        margin-top: 25px;
                    }

                    li {
                        font-size: 0.9rem;
                        margin: 20px 10px;
                    }
                }
            }

            .Right {
                padding: 30px;
                margin-top: 80px;
                
                h2 {
                    max-width:240px;
                }

                h3 {
                    margin-bottom: -15px;
                    max-width:60px;
                }

                .pay {
                    margin-top: 60px;
                }
            }
        }
    }
}

@media screen and (max-width:650px) {
    .questions {

        .content-questions {
            height: 1300px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            position: relative;


            .Left {
                margin-top: 50px;

                .box {
                    margin:auto;
                    margin-top:60px;
                    padding:20px 40px;
                    max-width:340px;
                }
            }

            .Right {
                margin-top: 60px;

                h2 {
                    margin-bottom: 40px;
                }
            }
        }

        .content-questions::after {
            content:"";
            width: 90%;
            height: 2px;
            background-color: $ŠedáIkony;
            position: absolute;
            inset:0;
            margin:auto;
            margin-top:700px;
        }
    }
}

@media screen and (max-width:550px) {
    .questions {

        .content-questions {
            height: 1300px;

            p {
                font-size: 0.8rem;
                margin: 15px 20px;
            }

            h2 {
                font-size: 1.1rem;
            }

            h3 {
                font-size: 0.9rem;
            }

            .Left {
                margin-top: 50px;

                h2 {
                    margin-bottom:40px;
                    max-width: 160px;
                }

                .box {
                    margin:auto;
                    margin-top:60px;
                    padding:20px 40px;
                    max-width:340px;

                    li {
                        font-size: 0.8rem;
                    }
                }
            }

            .Right {
                margin-top: 80px;

                h2 {
                    max-width:220px;
                }

                h3{
                    max-width:55px;
                }
            }
        }

        .content-questions::after {
            content:"";
            width: 90%;
            height: 2px;
            background-color: $ŠedáIkony;
            position: absolute;
            inset:0;
            margin:auto;
            margin-top:680px;
        }
    }
}

@media screen and (max-width:435px) {
    .questions {

        .content-questions {
            height: 1200px;

            p {
                font-size: 0.8rem;
                margin: 15px 20px;
                line-height: 23px;
            }

            h2 {
                font-size: 1.1rem;
            }

            h3 {
                font-size: 0.9rem;
            }

            .Left {
                margin-top: 80px;
                padding: 10px;

                h2 {
                    margin-bottom:40px;
                    max-width: 160px;
                }

                .box {
                    margin:auto;
                    margin-top:60px;
                    padding:15px 20px;
                    max-width:280px;

                    li {
                        font-size: 0.8rem;
                    }
                }
            }

            .Right {
                margin-top: 80px;
                padding: 10px;

                h2 {
                    max-width:220px;
                }

                h3{
                    max-width:55px;
                    margin-bottom: 0px;
                }
            }
        }

        .content-questions::after {
            content:"";
            width: 90%;
            height: 2px;
            background-color: $ŠedáIkony;
            position: absolute;
            inset:0;
            margin:auto;
            margin-top:660px;
        }
    }
}


/* Questions END */


/* Process */

.process-bg {
    width:auto;
    height:1200px;
    background-image: url(../Pics/prices-steps-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1000;
    display: flex;

    .process {
        height:900px;
        width: 100%;
        background-color: rgba(23, 23, 23, 0.945);
        margin:auto;
        display:flex;
    
        .content-process {
            margin: auto;
            margin-top: 100px;
            max-width: 1400px;
            padding: 20px 50px;
    
            h2 {
                color:$Bílá;
                font-family:'NotoSans-semiBold', sans-serif;
                font-weight: 100;
                border-bottom: 3px solid $Zelená;
                margin: auto;
                margin-bottom: 60px;
                text-align: center;
                max-width:600px;
            }
    
            li {
                color:$Bílá;
                font-family:'NotoSans-light', sans-serif;
                font-size: 1.2rem;
                font-weight: 100;
                line-height:30px;
                margin: 45px 20px;
                max-width: 1000px;
                letter-spacing: 0px;
            }
    
            span {
                font-family:'NotoSans-semiBold', sans-serif;
            }
    
            a {
                text-decoration: none;
                color:$Bílá;
            }
        }
    }
}



@media screen and (max-width:1100px) {

    .process-bg {

        .process {

            .content-process {

                h2 {
                    font-size: 1.3rem;
                    max-width: 530px;
                }
    
                li {
                    font-size: 1rem;
                }
            }
        }
    }
    
}

@media screen and (max-width:850px) {

    .process-bg {

        .process {

            .content-process {
                padding: 30px;

                h2 {
                    font-size: 1.2rem;
                    max-width: 480px;
                }
    
                li {
                    font-size: 0.9rem;
                    margin: 35px 20px;
                    line-height: 28px;
                }
            }
        }
    }
    
}

@media screen and (max-width:650px) {

    .process-bg {

        .process {

            .content-process {
                padding: 30px;

                h2 {
                    font-size: 1.2rem;
                    max-width: 480px;
                }
    
                li {
                    font-size: 0.9rem;
                    margin: 25px 20px;
                }
            }
        }
    }
    
}

@media screen and (max-width:550px) {

    .process-bg {

        .process {

            .content-process {
                padding: 30px;
                padding-top: 10px;

                h2 {
                    font-size: 1rem;
                    max-width: 400px;
                    margin-bottom: 30px;
                }
    
                li {
                    font-size: 0.8rem;
                    margin: 25px 20px;
                    line-height: 25px;
                }
            }
        }
    }
    
}

@media screen and (max-width:435px) {

    .process-bg {

        .process {

            .content-process {
                margin-top: 160px;
                padding: 30px;
                padding-top: 0px;

                h2 {
                    font-size: 0.8rem;
                    max-width: 320px;
                    margin-bottom: 20px;
                }
    
                li {
                    font-size: 0.8rem;
                    margin: 20px 20px;
                    line-height: 20px;
                }
            }
        }
    }
    
}

@media screen and (max-width:390px) {

    .process-bg {

        .process {

            .content-process {
                margin-top: 100px;
                padding: 30px;
                padding-top: 0px;
            }
        }
    }
}


/* Process END */



/* Contact */


.Contact {
    width:auto;
    height:400px;
    background-color: $TmaváŠedá;
    display:flex;
    position: relative;
    z-index: 2000;
    margin-top:-150px;

    .content-Contact {
        width:1200px;
        min-width:700px;
        height:100%;
        margin:auto;
        color:$Bílá;
        padding:0px 50px;
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;

        .Contact-text {
            margin: auto;
            padding: 0px 50px;

            h3 {
                font-family:'NotoSans-Bold', sans-serif;
                font-size: 1.2rem;
                font-weight: 100;
                max-width:360px;
                border-bottom: 3px solid $Zelená;
                text-align: center;
            }

            p {
                font-family:'NotoSans-light', sans-serif;
                font-size: 1.2rem;
                max-width:600px;
                padding-top: 10px;
                padding-left: 20px;
            }
        }

        .Contact-butt {
            margin:auto;
            margin-left: 20px;
            margin-top:210px;
            transition: 0.3s;

            a {
                text-decoration: none;
                color:$Bílá;
                display: flex;
                background-color: $Zelená;
                width:220px;
                height:50px;
            
                h3 {
                    margin: auto;
                    font-size:1rem;
                    font-weight: 100;
                }
            }
        }

        .Contact-butt:hover {
            transform: scale(1.02);
            box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.144);
        }

    }
}

@media screen and (max-width:1100px) {

    .Contact {
        height:400px;
    
        .content-Contact {
            width:1200px;
            min-width:700px;
            height:100%;
            margin:auto;
            padding:0px 50px;
            grid-template-columns: 2fr 1fr;
    
            .Contact-text {
                margin: auto;
                padding: 0px 50px;
    
                h3 {
                    font-size: 1rem;
                    max-width:310px;
                }
    
                p {
                    font-size: 1rem;
                    max-width:600px;
                    padding-top: 10px;
                    padding-left: 20px;
                }
            }
    
            .Contact-butt {
                margin:auto;
                margin-left: 20px;
                margin-top:210px;
    
                a {
                    width:220px;
                    height:50px;
                
                    h3 {
                        margin: auto;
                        font-size:1rem;
                    }
                }
            }
    
        }
    }
}

@media screen and (max-width:850px) {

    .Contact {
        height:400px;
    
        .content-Contact {
            width:1200px;
            min-width:700px;
            height:100%;
            margin:auto;
            padding:0px 50px;
            grid-template-columns: 2fr 1fr;
    
            .Contact-text {
                margin: auto;
                padding: 0px 50px;
    
                h3 {
                    font-size: 0.9rem;
                    max-width:280px;
                }
    
                p {
                    font-size: 0.9rem;
                    max-width:600px;
                    padding-top: 10px;
                    padding-left: 20px;
                }
            }
    
            .Contact-butt {
                margin:auto;
                margin-left: 20px;
                margin-top:210px;
    
                a {
                    width:180px;
                    height:40px;
                
                    h3 {
                        margin: auto;
                        font-size:0.8rem;
                    }
                }
            }
    
        }
    }
}

@media screen and (max-width:750px) {

    .Contact {
        height:300px;
        justify-items: center;
    
        .content-Contact {
            width:1200px;
            min-width:500px;
            height:100%;
            margin:auto;
            padding:0px 50px;
            grid-template-columns: 1fr;
            grid-template-rows:1fr 1fr;
    
            .Contact-text {
                margin: auto;
                margin-bottom:0px;
                margin-left:20px;
                padding: 0px 0px;
    
                h3 {
                    font-size: 0.9rem;
                    max-width:280px;
                }
    
                p {
                    font-size: 0.9rem;
                    max-width:400px;
                    padding-top: 10px;
                    padding-left: 0px;
                }
            }
    
            .Contact-butt {
                margin:40px 40px auto auto;
    
                a {
                    width:180px;
                    height:40px;
                
                    h3 {
                        margin: auto;
                        font-size:0.8rem;
                    }
                }
            }
    
        }
    }
}

@media screen and (max-width:550px) {

    .Contact {
        height:300px;
        justify-items: center;
    
        .content-Contact {
            width:1200px;
            min-width:400px;
            height:100%;
            margin:auto;
            padding:0px 30px;
            grid-template-columns: 1fr;
            grid-template-rows:1fr 1fr;
    
            .Contact-text {
                margin: auto;
                margin-bottom:0px;
                margin-left:0px;
                padding: 0px 0px;
    
                h3 {
                    font-size: 0.9rem;
                    max-width:280px;
                }
    
                p {
                    font-size: 0.8rem;
                    max-width:400px;
                    padding-top: 10px;
                    padding-left: 0px;
                }
            }
    
            .Contact-butt {
                margin:40px 40px auto auto;
    
                a {
                    width:180px;
                    height:40px;
                
                    h3 {
                        margin: auto;
                        font-size:0.8rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:435px) {

    .Contact {
        height:300px;
        justify-items: center;
    
        .content-Contact {
            width:1200px;
            min-width:300px;
            height:100%;
            margin:auto;
            padding:0px 30px;
            grid-template-columns: 1fr;
            grid-template-rows:1fr 1fr;
    
            .Contact-text {
                margin: auto;
                margin-bottom:0px;
                margin-left:0px;
                padding: 0px 0px;
    
                h3 {
                    font-size: 0.8rem;
                    max-width:250px;
                }
    
                p {
                    font-size: 0.8rem;
                    max-width:400px;
                    padding-top: 10px;
                    padding-left: 0px;
                }
            }
    
            .Contact-butt {
                margin:40px 40px auto auto;
    
                a {
                    width:180px;
                    height:40px;
                
                    h3 {
                        margin: auto;
                        font-size:0.8rem;
                    }
                }
            }
        }
    }
}




/* Contact END */


/* Footer */ 


.footer-menu {
    width:auto;
    height:200px;
    background-color: $SvětláŠedá;
    display:grid;
    position: relative;
    z-index: 2500;

    .content-footer {
        max-width:1400px;
        margin:auto;
        display:grid;
        grid-template-rows: 1fr 1fr;
        
        .footer-icons {
            margin:auto;
            margin-top:60px;

            img {
                transition: 0.3s;
                border-radius: 10px;
                margin:5px;
            }

            img:hover {
                background-color:$Bílá;
            }
        }

        .footer-navbar {
            max-width: 600px;
            margin:auto;
            margin-left:0px;
            margin-top:40px;

            a {
                text-decoration: none;
                color:$TmaváŠedá;
                font-size:1.2rem;
                transition: 0.1s;
            }

            li {
                list-style-type: none;
                margin: auto 20px;
                transition: 0.2s;
            }

            ul{
                width:100%;
                display:grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }

            li:hover {
                transform: translateY(-3px);
            }

            a:hover {
                font-weight:700
            }
        }
    }
}

@media screen and (max-width:850px) {
    
    .footer-menu {
        height:180px;
    
        .content-footer {
            .footer-icons {
                margin-top:60px;
    
                img {
                    transform: scale(0.9);
                    transition: 0.3s;
                    margin:5px;
                    margin-top:0px;
                }
            }
    
            .footer-navbar {
    
                a {
                    font-size:1rem;
                }
    
                li {
                    margin: auto 15px;
                    margin-top:-10px;
                }
            }
        }
    }
}

@media screen and (max-width:550px) {
    
    .footer-menu {
        height:180px;
    
        .content-footer {
            .footer-icons {
                margin-top:60px;
    
                img {
                    transform: scale(0.9);
                    transition: 0.3s;
                    margin:5px;
                    margin-top:0px;
                }
            }
    
            .footer-navbar {
    
                a {
                    font-size:1rem;
                }
    
                li {
                    margin: auto 8px;
                    margin-top:-10px;
                }
            }
        }
    }
}

@media screen and (max-width:435px) {
    
    .footer-menu {
        height:180px;
    
        .content-footer {
            .footer-icons {
                margin-top:60px;
    
                img {
                    transform: scale(0.9);
                    transition: 0.3s;
                    margin:5px;
                    margin-top:0px;
                }
            }
    
            .footer-navbar {
    
                a {
                    font-size:0.9rem;
                }
    
                li {
                    margin: auto 5px;
                    margin-top:-10px;
                }
            }
        }
    }
}


.footer-copyright {
    width:auto;
    height:50px;
    background-color: $TmaváŠedá;
    display:grid;

    .content-copy {
        color:$Bílá;
        font-size:0.9rem;
        margin:auto;
    }
}


@media screen and (max-width:850px) {
    
    .footer-copyright {
        height:40px;
    
        .content-copy {
            font-size:0.8rem;
        }
    }
}

@media screen and (max-width:550px) {
    
    .footer-copyright {
        height:40px;
    
        .content-copy {
            font-size:0.7rem;
        }
    }
}

@media screen and (max-width:435px) {
    
    .footer-copyright {
        height:40px;
    
        .content-copy {
            font-size:0.6rem;
        }
    }
}
/* Footer END */