@media screen and (max-width: 415px) {
        .navbar a {
            font-size: 0.8rem;
        }

        .logo img {
            width:80px;
            height:25px;
        }

        .top {
            height:95px;
        }

        .lang-icon {
            width:50px;
            margin-right:25px;
            margin-left:0px;
            top:-40px;
            right:-25%;
        }

        .langs img {
            right:18px;
            width:15px;
            height:15px;
        }
    }

    @media screen and (max-width: 360px) {
        .navbar a {
            font-size: 0.8rem;
            margin:15px;
        }

        .logo img {
            width:80px;
            height:25px;
        }

        .top {
            height:95px;
        }

        .lang-icon {
            width:50px;
            margin-right:20px;
            margin-left:0px;
            top:-40px;
            right:-25%;
        }

        .langs img {
            right:18px;
            width:15px;
            height:15px;
        }
    }